@charset "UTF-8";

* *{
          padding: 0;
          margin: 0;
          box-sizing: border-box;

          font-family: 'nunito';
}

@keyframes fadein {
          50% {
                    opacity: 0%;
          }

          100% {
                    opacity: 100%;
          }
}

body {
          background-color: rgb(8, 8, 8);

          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
}

main {
          text-align: center;

          & h1 {
                    font-size: 4rem;
                    color: #ececec;
          }

          & span#s1  {
                    animation: fadein 1.1s linear infinite;
          }

          & span#s2  {
                    animation: fadein 1.3s linear infinite;
          }

          & span#s3  {
                    animation: fadein 1.5s linear infinite;
          }
}

main {

          & input[type=text]{
                    font-size: 1.5rem;
                    border: 1px solid white;
                    background-color: transparent;
                    color: #ececec;

                    padding: 5px 10px;
          }

          & img{          
                    cursor: pointer;
                    margin-left: 10px;
                    position: relative;
                    top: 17px;
          }

          & img:hover {
                    opacity: 40%;

                    transition: .2s ease-in-out;
          }

          & #res {
                    margin-top: 20px;
                    font-size: 2.5rem;
                    font-weight: 900;
                    color: #ececec;
          }
}

@media screen and (max-width:380px) {
          main {
                    margin: 10px;

                    & input {
                              
                    }

                    & img {
                              margin-bottom: 30px;
                    }
          }
}